.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8050f2;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.text__hzRo0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 433px;
  color: #ffe6ec;
  text-align: left;
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  align-self: flex-start;
  padding-left: 159px;
  margin-top: 84px;
}
.text___83Xko {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 455px;
  color: #ffe6ec;
  text-align: left;
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  align-self: flex-start;
  min-width: 0;
  padding: 14px 0px 0px 159px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 58px 0px 16px;
}
.link___750Nz {
  position: relative;
  display: flex;
  width: 56px;
  align-items: center;
  justify-content: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  flex-shrink: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
}
.img__ym98Q {
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__ym98Q > picture > img {
  object-fit: cover;
}
.img__ym98Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__h9Zja {
  position: relative;
  display: flex;
  width: 56px;
  text-align: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  flex-shrink: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
}
.img__kFbVk {
  object-fit: cover;
  max-width: 100%;
  margin: auto;
}
.img__kFbVk > picture > img {
  object-fit: cover;
}
.img__kFbVk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__eVJpT {
  position: relative;
  display: flex;
  width: 56px;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  flex-shrink: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
}
.img__fkYdq {
  object-fit: cover;
  max-width: 100%;
  margin: auto;
}
.img__fkYdq > picture > img {
  object-fit: cover;
}
.img__fkYdq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___06W5J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 74px;
}
.img___06W5J > picture > img {
  object-fit: cover;
}
.img___06W5J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__yYei2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffe6ec;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 79px;
  margin-top: 12px;
}
