.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 62px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
.section__mNpN9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 62px;
  background: none;
  min-width: 0;
  border-radius: 24px;
  padding: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mNpN9 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    height: auto;
    max-width: 100%;
    background: #8050f2;
    flex-column-gap: 0px;
    border-radius: 0px;
    padding: 40px 0px 24px;
    margin: 0px;
  }
}
.columns__xngoN {
  display: flex;
  width: 100%;
  height: 550px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1134px;
  align-self: auto;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 24px;
  padding: 0px 10px 0px 0px;
  margin: 0px auto;
}
.columns__xngoN > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__xngoN > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xngoN {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 548px;
    background: none;
    align-self: flex-start;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xngoN > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nycjm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nycjm {
    justify-content: center;
    align-items: flex-start;
    padding: 0px 24px;
  }
}
.freeBox__evmPz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 368px;
  justify-content: center;
  align-items: flex-start;
  align-self: auto;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__evmPz {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
    margin: 0px;
  }
}
.h2__m8Q7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__m8Q7E {
    font-size: 32px;
    max-width: 595px;
    align-self: flex-start;
    line-height: 44px;
    color: #ffe6ec;
    display: block;
    padding: 0px;
    margin: 0px 0px 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .span__lmrgo {
    background: #ffff49;
    color: #8050f2;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 44px;
    border-radius: 32px;
    padding: 0px 10px;
  }
}
.h2__aFcdJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  letter-spacing: 0px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  min-width: 0;
  margin: 12px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__aFcdJ {
    font-size: 32px;
    max-width: 595px;
    align-self: flex-start;
    line-height: 44px;
    color: #ffe6ec;
    display: block;
    padding: 0px;
    margin: 0px 0px 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .span__llTzz {
    background: #ffff49;
    color: #8050f2;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 44px;
    border-radius: 32px;
    padding: 0px 10px;
  }
}
.h2__tJ8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #000000;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  min-width: 0;
  margin: 24px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tJ8S {
    font-size: 32px;
    max-width: 595px;
    align-self: flex-start;
    line-height: 44px;
    color: #ffe6ec;
    display: block;
    padding: 0px;
    margin: 0px 0px 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .span__h9YMb {
    background: #ffff49;
    color: #8050f2;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 44px;
    border-radius: 32px;
    padding: 0px 10px;
  }
}
.button___5FglE:global(.__wab_instance) {
  max-width: 339px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  height: 64px;
  min-width: 0;
  flex-shrink: 0;
  margin: 42px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___5FglE:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
    display: none;
  }
}
.svg__wHapN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  display: block;
}
.text__qWpgn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}
.svg__x9U3W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__dFxr4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  background: url("/plasmic/active_compliance/images/bd19D579C8D8446FAfb30Ab6C9168805Removebg1Png.png") top 50% left 50% / 100% 100% no-repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dFxr4 {
    justify-content: center;
    align-items: center;
    background: none;
  }
}
.button__xYo8J:global(.__wab_instance) {
  max-width: 339px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  height: 64px;
  min-width: 0;
  flex-shrink: 0;
  margin: 64px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__xYo8J:global(.__wab_instance) {
    align-self: center;
    max-width: 368px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    margin: 44px 24px 64px;
  }
}
.svg__lq1T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t2Npt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}
.svg__zhAl6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__gZzNn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 99px;
  background: none;
  min-width: 0;
  padding: 0px 10px 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gZzNn {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.columns___75Bm0 {
  display: flex;
  width: 100%;
  height: 510px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1136px;
  align-self: auto;
  min-width: 0;
  padding: 0px 10px;
  margin: 0px auto;
}
.columns___75Bm0 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___75Bm0 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___75Bm0 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 548px;
    min-width: 0;
    min-height: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___75Bm0 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__m6AI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__m6AI {
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
  }
}
.freeBox__yMt3N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 572px;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yMt3N {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.h2___4Hccr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 32px;
  line-height: 40px;
  min-width: 0;
  margin: 0px 0px 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___4Hccr {
    font-size: 24px;
    max-width: 379px;
    width: auto;
    line-height: 30px;
    align-self: flex-start;
    margin: 65px 0px 13px;
  }
}
.span__pCqBy {
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  font-weight: 700;
  font-size: 32px;
  color: #8050f2;
  background: #ffffff;
  padding-right: 0px;
  border-radius: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .span__pCqBy {
    font-size: 24px;
    line-height: 30px;
  }
}
.text__oka7Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 422px;
  color: #8050f2;
  line-height: 24px;
  font-size: 20px;
  align-self: flex-start;
  font-weight: 600;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oka7Z {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__x5Nh8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 422px;
  color: #8050f2;
  line-height: var(--token-5sxLhN1Vr);
  font-size: var(--token-6WiM-UPT5);
  align-self: flex-start;
  font-weight: 500;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x5Nh8 {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__vbS3J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 422px;
  color: #8050f2;
  line-height: var(--token-5sxLhN1Vr);
  font-size: var(--token-6WiM-UPT5);
  align-self: flex-start;
  font-weight: 500;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vbS3J {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__k5GX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 422px;
  color: #8050f2;
  line-height: var(--token-5sxLhN1Vr);
  font-size: var(--token-6WiM-UPT5);
  align-self: flex-start;
  font-weight: 500;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k5GX {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.column__l1S5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  background: url("/plasmic/active_compliance/images/bd19D579C8D8446FAfb30Ab6C9168805Removebg1Png.png") top 50% left 50% / 100% 100% no-repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__l1S5 {
    justify-content: center;
    align-items: center;
    background: none;
  }
}
.button__yFdoP:global(.__wab_instance) {
  max-width: 339px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  height: 64px;
  min-width: 0;
  flex-shrink: 0;
  margin: 64px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__yFdoP:global(.__wab_instance) {
    align-self: center;
    max-width: 368px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    margin: 44px 24px 64px;
  }
}
.svg__ubz3U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jrBK {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}
.svg__kcGow {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__b5CtN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8050f2;
  min-width: 0;
  padding: 0px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__zzVye {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8050f2;
  min-width: 0;
  padding: 40px 10px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zzVye {
    background: #8050f2;
    padding: 64px 0px 100px;
    margin: 0px;
  }
}
.freeBox__gqo3S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1134px;
  background: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gqo3S {
    max-width: 548px;
  }
}
.h1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  color: #ffe6ec;
  font-family: "Montserrat", sans-serif;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  font-weight: 700;
  align-self: flex-start;
  text-align: center;
  text-decoration-line: none;
  letter-spacing: normal;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    color: #ffe6ec;
    padding: 0px;
    margin: 0px 20px;
  }
}
.freeBox___9N0Ru {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 42px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9N0Ru {
    align-self: center;
    margin-top: 0px;
  }
}
.button__itMqQ:global(.__wab_instance) {
  max-width: 339px;
  width: 100%;
  height: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__itMqQ:global(.__wab_instance) {
    display: none;
  }
}
.svg__vJrVr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  display: block;
}
.text__iiRmj {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.svg__c7OnD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__aap7G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 10px;
  margin: 100px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__aap7G {
    background: #ffe6ec;
    justify-content: center;
    align-items: center;
    padding: 83px 24px 0px;
    margin: 0px;
  }
}
.freeBox___4RCFi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1136px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4RCFi {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 548px;
  }
}
.h2__g71GP {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: #000000;
  align-self: flex-start;
  font-size: 32px;
  line-height: 30px;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 46px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__g71GP {
    font-size: 32px;
    line-height: 1.3;
    max-width: 595px;
    margin: 0px;
  }
}
.freeBox__dkqAu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dkqAu {
    margin: 0px 24px;
  }
}
.freeBox__kFuph {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kFuph > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__kFuph > :global(.__wab_flex-container) > *,
.freeBox__kFuph > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kFuph > :global(.__wab_flex-container) > picture > img,
.freeBox__kFuph
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.link__ci56L {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ci56L {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__yzMqv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__yzMqv > picture > img {
  object-fit: cover;
}
.img__yzMqv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yzMqv {
    align-self: flex-start;
  }
}
.text__wok3P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__faCnv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text__oZ8OF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text__w5EtV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.link__kXpFt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kXpFt {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__kBn68 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__kBn68 > picture > img {
  object-fit: cover;
}
.img__kBn68 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kBn68 {
    align-self: flex-start;
  }
}
.text___4Af4G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__pcTaX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text__pnnbM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text__dse9F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.link__jkK7L {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__jkK7L {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__ofuQu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__ofuQu > picture > img {
  object-fit: cover;
}
.img__ofuQu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ofuQu {
    align-self: flex-start;
  }
}
.text__pBcT6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__wmFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text__jYqoy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text___0TVt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.freeBox__xzkVt {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 30px 0px 0px;
}
.freeBox__xzkVt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__xzkVt > :global(.__wab_flex-container) > *,
.freeBox__xzkVt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xzkVt > :global(.__wab_flex-container) > picture > img,
.freeBox__xzkVt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.link__vFceM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vFceM {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__hcHYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__hcHYg > picture > img {
  object-fit: cover;
}
.img__hcHYg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hcHYg {
    align-self: flex-start;
  }
}
.text___1NKmh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__pmul2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text___537Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text__ySmOx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.link__cW14A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cW14A {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__dOfS6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__dOfS6 > picture > img {
  object-fit: cover;
}
.img__dOfS6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dOfS6 {
    align-self: flex-start;
  }
}
.text__eVbel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__vaReJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text__rgoIs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text__pHi2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.link__aOvxh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 410px;
  background: #8050f2;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 0px 10px 20px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aOvxh {
    justify-content: flex-start;
    align-items: center;
    background: #8050f2;
  }
}
.img__lkz1X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 50px 0px 0px;
}
.img__lkz1X > picture > img {
  object-fit: cover;
}
.img__lkz1X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lkz1X {
    align-self: flex-start;
  }
}
.text__wIEdW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--token-nhxsC7xgV);
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  min-width: 0;
  margin: 44px 0px 0px;
}
.text__tSiyb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: var(--token-vm3pWubtG);
  text-align: center;
  align-self: flex-start;
  font-size: 24px;
  min-width: 0;
  margin: 6px 0px 0px;
}
.text__b7P9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 50px 0px 0px;
}
.text__uEyt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 310px;
  color: #ffffff;
  font-size: var(--token-6WiM-UPT5);
  font-family: var(--token-CmLVKC5gD);
  line-height: var(--token-5sxLhN1Vr);
  text-align: left;
  align-self: center;
  min-width: 0;
  margin: 32px 0px 0px;
}
.section__wn6Ys {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px;
  margin: 0px 0px 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wn6Ys {
    align-items: center;
    justify-content: center;
    padding: 95px 24px 0px;
  }
}
.freeBox__nTcjA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1136px;
  min-width: 0;
  padding: 0px 10px;
}
.h2__g1SrN {
  position: relative;
  width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #000000;
  padding-bottom: 0px;
  align-self: flex-start;
  font-size: 32px;
  line-height: 30px;
  min-width: 0;
  margin: 0px 0px 46px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__g1SrN {
    font-size: 32px;
    line-height: 1.3;
    max-width: 595px;
    margin: 0px;
  }
}
.freeBox__stKdl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__stKdl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
}
.freeBox__stKdl > :global(.__wab_flex-container) > *,
.freeBox__stKdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stKdl > :global(.__wab_flex-container) > picture > img,
.freeBox__stKdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 100px;
}
.freeBox__dZTp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-height: none;
  min-width: 0;
  padding: 0px;
}
.img___3JQyq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img___3JQyq > picture > img {
  object-fit: cover;
}
.img___3JQyq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__cjf4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-CmLVKC5gD);
  color: #000000;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  min-width: 0;
  margin: 40px 0px 0px;
}
.freeBox__co5Ko {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-height: none;
  min-width: 0;
  padding: 0px;
}
.img___6X9Kl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img___6X9Kl > picture > img {
  object-fit: cover;
}
.img___6X9Kl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__m6LDa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-CmLVKC5gD);
  color: #000000;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  min-width: 0;
  margin: 40px 0px 0px;
}
.freeBox__uWtb1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-height: none;
  min-width: 0;
  padding: 0px;
}
.img__gMiBp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__gMiBp > picture > img {
  object-fit: cover;
}
.img__gMiBp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__kPpg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-CmLVKC5gD);
  color: #000000;
  font-size: var(--token-6WiM-UPT5);
  line-height: var(--token-5sxLhN1Vr);
  min-width: 0;
  margin: 40px 0px 0px;
}
